.todo_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8382a1;
}

.todo_page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes the full width */
  padding: 0 20px; /* Add some padding on the sides */
}

.todo_page_header > h1 {
  margin: 0; /* Remove any default margin */
  font-size: 24px;
}
